extends ./layout/index
//- p= viajes
block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote  Duis magna massa, auctor sed maximus nec, dignissim eu tellus. Aliquam at nisi ac purus blandit laoreet. Praesent tristique eget purus eget sodales. Ut fringilla congue ante, molestie pharetra nibh sollicitudin a. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec non ligula at dui congue malesuada sed blandit est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed congue ullamcorper eros pellentesque tincidunt. Aenean sapien ante, aliquet sed massa id, placerat dictum neque. Praesent egestas cursus sapien, quis consectetur libero tristique a.

                p Nunc vel dapibus risus. Nam venenatis sapien vel leo malesuada porttitor. In mollis lorem odio, sed convallis quam imperdiet eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec augue sollicitudin, ultrices odio vel, pellentesque magna. Mauris in urna eu enim sodales molestie ut vel neque. Etiam quis quam arcu. Maecenas a mollis turpis. Pellentesque sit amet arcu sed nulla feugiat aliquam nec sed massa. Mauris in justo ac ipsum tempus pharetra vel in tortor. Proin eu dolor egestas, eleifend augue id, iaculis enim. 

                p Proin tristique, nulla in consectetur faucibus, tortor ex egestas ex, vitae placerat turpis eros tristique mi. Maecenas euismod dui eget dui laoreet dapibus. Quisque sodales est lacinia tellus mattis auctor. Praesent condimentum enim in odio ultricies, a commodo dui feugiat. Sed at leo ultrices, scelerisque augue ut, commodo ipsum. Quisque eget quam maximus, finibus tortor porta, consequat ex. Duis sed tincidunt turpis.

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="seguridad" class="img-fluid mb-4")
                    h2 Seguridad
                    p Duis magna massa, auctor sed maximus nec, dignissim eu tellus.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destino" class="img-fluid mb-4")
                    h2 Mejores Destinos
                    p Duis magna massa, auctor sed maximus nec, dignissim eu tellus.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
                    h2 Mejores Precios
                    p Duis magna massa, auctor sed maximus nec, dignissim eu tellus.
                